<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h2>CONTACTAME</h2>

					<form action="#" method="post">

						<div class="field half first">
							<label for="name">CELULAR</label>
							<p>310 275 9655</p>
						</div>
						<div class="field half">
							<label for="email">CORREO ELECTRÓNICO</label>
							<p>lorepg310@gmail.com</p>
						</div>
						<div class="field">
							<label for="message">LINKEDIN</label>
							<a href="https://www.linkedin.com/in/lorena-parra-guerrero/">Lorena Parra Guerrero</a>
						</div>
						
					</form>

					<ul class="icons">
						<li><a href="#" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>

					<div class="copyright">
						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
					</div>

				</div>
			</footer>