<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a href="/">Home</a></li>
        <li><a href="generic">Artículo</a></li>
        <li><a href="elements">Curriculum</a></li>
    </ul>
</nav>