<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
    <title>Elements - Road Trip by TEMPLATED</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
</head>

<body class="subpage">

    <!-- Header -->
    {{>header}}

    <!-- Nav -->
    {{>nav}}

    <!-- Main -->
    <div id="main" class="container">

        <!-- Content -->
        <h2>Perfil personal</h2>
        <p>Desarrolladora full stack,
            con aptitud para el
            aprendizaje autónomo y
            trabajo en equipo. Tengo
            experiencia en un equipo de
            tecnología y me emociona
            encontrar una oportunidad
            para seguir aprendiendo en
            el desarrollo de software.
            Disponible para ser parte de
            un equipo multidisciplinario
            donde pueda aprender y
            crecer. Conozco el trabajo
            con metodologías Agile
            Profesional empática,
            adaptable, orientada a las
            personas y al aprendizaje
            continuo.</p>
        <div class="row">
            <div class="6u 12u$(small)">
                <h3>Habilidades profesionales</h3>
                <p>JavaScript, Typescript, SQL, HTML/CSS</p>
            </div>
            <div class="6u$ 12u$(small)">
                <h3>Infraestructuras y sistemas</h3>
                <p>Node.js, React, Redux, Redux saga, styled-components, Bootstrap, Express, Git-Github, JWT, API y Sequelize.</p>
            </div>
            <!-- Break -->
            
            <div class="4u 12u$(medium)">
                <h3>Bases de datos</h3>
                <p>mongoDB, DBaver, Y postgres.</p>
            </div>
            <div class="4u$ 12u$(medium)">
                <h3>Idiomas</h3>
                <p>Ingles A2</p>
            </div>
        </div>

        <hr class="major" />

       

                <!-- Lists -->
                <h3>Habilidades</h3>
                <div class="row">
                    <div class="6u 12u$(small)">

                        <ul>
                            <li>Autonomía</li>
                            <li>Autoaprendizaje</li>
                            <li>Creatividad</li>
                            <li>Colaboración</li>
                            <li>trabajo en equipo</li>
                            <li>Iniciativa</li>
                            <li>Empatía</li>
                        </ul>

                        <h4>Intereses</h4>
                        <ul class="alt">
                            <li>Tecnología</li>
                            <li>Filosofía</li>
                            <li>Deporte</li>
                            <li>Meditación</li>
                        </ul>

                    </div>
                    
                </div>
                <h4>Formación educativa</h4>
                <dl>
                    <dt>Henry - 2021</dt>
                    <dd>
                        <p>Desarrollo full stack</p>
                    </dd>
                    <dt>POLITÉCNICO INTERNACIONAL - 2020</dt>
                    <dd>
                        <p>Desarrollo de Software y Aplicativos Móviles</p>
                    </dd>
                    <dt>Fundación Universitaria del Área Andina  2016 -2021</dt>
                    <dd>
                        <p>Administración de empresas</p>
                    </dd>
                </dl>

               

               

                <!-- Table -->
                <h3>Cursos</h3>

                <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Institución</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>TypeScript</td>
                                <td>Udemy</td>
                                <td>Completado</td>
                            </tr>
                            <tr>
                                <td>Node</td>
                                <td>Udemy</td>
                                <td>Cursando </td>
                            </tr>
                            
                        </tbody>
                        
                    </table>
                </div>

               
    <!-- Footer -->
    {{>footer}}

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

</body>

</html>