<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<title>{{title}}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="assets/css/main.css" />
</head>

<body>

	<!-- Header -->
	{{>header}}

	<!-- Nav -->
	{{>nav}}

	<!-- Banner -->
	<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
	<section id="banner" class="bg-img" data-bg="banner.jpg">
		<div class="inner">
			<header>
				<h1>Lorena parra guerrero</h1>
			</header>
		</div>
		<a href="#one" class="more">Learn More</a>
	</section>

	<!-- One -->
	<section id="one" class="wrapper post bg-img" data-bg="banner2.jpg">
		<div class="inner">
			<article class="box">
				<header>
					<h2>Perfil personal</h2>
				</header>
				<div class="content">
					<p>Desarrolladora full stack,
						con aptitud para el
						aprendizaje autónomo y
						trabajo en equipo. Tengo
						experiencia en un equipo de
						tecnología y me emociona
						encontrar una oportunidad
						para continuar instruyéndome en el campo del
						el desarrollo de software.
						Disponible para ser parte de
						un equipo multidisciplinario
						donde pueda aprender y
						crecer. Conozco el trabajo
						con metodologías Agiles;
						Profesional empática,
						adaptable, orientada a las
						personas y al aprendizaje
						continuo.
					</p>
				</div>
				<footer>
					<a href="https://www.linkedin.com/in/lorena-parra-guerrero/" class="button alt">LEER MÁS</a>
				</footer>
			</article>
		</div>
		<a href="#two" class="more">Learn More</a>
	</section>

	<!-- Two -->
	<section id="two" class="wrapper post bg-img" data-bg="banner5.jpg">
		<div class="inner">
			<article class="box">
				<header>
					<h2>Formación educativa</h2>

				</header>
				<div class="content">
					<P>HENRY /2021<br />Desarrollo full stack</P>
					<p>POLITÉCNICO INTERNACIONAL /2020<br />Desarrollo de Software y Aplicativos Móviles </p>
					<p>FUNDACIÓN UNIVERSITARIA DEL ÁREA ANDINA /2021<br />Administración de empresas</p>

				</div>
				<footer>
					<a href="https://www.linkedin.com/in/lorena-parra-guerrero/" class="button alt">LEER MÁS</a>
				</footer>
			</article>
		</div>
		<a href="#three" class="more">Learn More</a>
	</section>

	<!-- Three -->
	<section id="three" class="wrapper post bg-img" data-bg="banner4.jpg">
		<div class="inner">
			<article class="box">
				<header>
					<h2>Habilidades profesionales</h2>
				</header>
				<div class="content">
					<P>IDIOMAS DE CODIFICACIÓN<br />JavaScript, Typescript,
						SQL, HTML/CSS</P>
					<p>INFRAESTRUCTURAS / SISTEMAS<br />Node.js, React, Redux,
					    Redux saga,
						styled-components,
						Bootstrap, Express,
						Git-Github, JWT, API
						y Sequelize.</p>
					<p>BASES DE DATOS<br />mongoDB, DBaver, Y postgres</p>
				</div>
				<footer>
					<a href="https://www.linkedin.com/in/lorena-parra-guerrero/" class="button alt">LEER MÁS</a>
				</footer>
			</article>
		</div>
		<a href="#four" class="more">Learn More</a>
	</section>

	
	<!-- Footer -->
	{{>footer}}

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>